Django
faiss-cpu
langchain-community
langchain-openai
openai
python-dotenv
tiktoken
pypdf
djangorestframework
PyPDF2
gunicorn
psycopg[binary]
djangorestframework_simplejwt
django-cors-headers
django-storages[azure]
azure-storage-blob

