{% extends 'base.html' %}
{% load static %}


  {% block content %}

<body class="merriweather" style="background: linear-gradient(rgba(0,0,0, 1), rgba(0,0,0, 0.5));">
  <link rel="stylesheet" href="{% static 'assets/css/cours.css' %}">
<style>
  .sub-header{
    display: none;
  }
  #a_propos{
    display: none;
  }
  #contact{
    display: none;
  }
</style>

  
<!-- Team -->
<section id="team" class="pb-5 mt-5">
    <div class="container mt-5">
      <h5 class="section h1 text-muted fs-1 fs-md-2 fs-lg-3 text-center mb-5" >
        <a class="btn btn-outline-primary me-3" href="{% url 'index' %}" ><strong> <-Retour</strong></a>
        Tous les cours
        
        {% if is_staff %}
        <a class="btn btn-outline-primary me-3" href="{% url 'upload_cours' %}" ><strong> Ajouter</strong></a>
        {% endif %}
    </h5>

    
       
        
        <div class="row">
            {% for cour in cours %}
      <!-- Cours -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" >
            <div class="mainflip flip-0">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            
                            <p><img src="{% static 'assets/images/service-icon-01.png' %}" class="mb-3" alt="add"></p>
                            <h4 class="card-title text-primary">{{cour.title}}</h4>
                            <p class="card-text text-light">{{cour.description}}</p>
                            <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-outline-primary text-light btn-sm mt-3">Details</a>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card d-flex justify-content-center">
                        <div class="card-body  mt-4 text-light">
                            <h4 class="card-title ">{{cour.title}}</h4>
                            <p class="card-text text-muted">{{cour.description}}</p>
                                
                            
                            <div class="btn-toolbar ml-4 my-3 text-center redressed" role="toolbar" aria-label="Toolbar with button groups">
                              <div class="btn-group mx-2" role="group" aria-label="First group">
                                <a href="{{cour.file.url}}" class="btn btn-primary btn-sm text-light" target="_blank">Fichier</a>
                                
                              </div>
                              <div class="btn-group mx-2" role="group" aria-label="Second group">
                                <a href="{% url 'course_details' cour.id %}" class="btn btn-primary  me-2">Details</a>
                               
                              </div>
                              
                            </div>

                           
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- ./Team member -->
           {% endfor %}
        </div>
    </div>
</section>
<!-- Team -->




</body>
</html>

{% endblock content %}