


{% extends 'base.html' %}
{% load static %}


  {% block content %}
<body>

 
  <section class="heading-page header-text" id="top">
    <div class="container redressed">
      <div class="row">
        <div class="col"></div>
        <div class="col-lg-6">
          
          <div class="card text-center bg-secondary text-light">
            <div class="card-header merriweather">
              Ajouter un cours
            </div>
            <div class="card-body">
              <h5 class="card-title">Details sur le cours</h5>
              <!-- Content here -->
        
            
            <form method="post" id="upload_form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-5">
                    <span class="input-group-text" id="basic-addon2">Titre</span>
                    <input type="text" class="form-control" name="title" placeholder="Tire du cours" aria-label="Recipient's username" aria-describedby="basic-addon2">
                
                </div>
                
                <div class="input-group mb-5">
                    <span class="input-group-text">description</span>
                    <textarea class="form-control" name="description" aria-label="With textarea"></textarea>
                </div>

                <div class="mb-5">
                   
                    <input class="form-control" type="file" name="file" id="formFile">
                </div>
                
                
            
                
                <div class="btn-group me-2" role="group" aria-label="Second group">
                  
                <a class="btn btn-outline-primary me-3 text-light" href="{% url 'index' %}" ><strong> <-Retour</strong></a>
                <button class="btn btn-primary" type="submit">Upload</button>
                </div>
              
            </form>
            <div class="text-center" id="spinner_group" style="display: none">
              <div class="spinner-container">
                <div class="spinner-grow spinner1" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow spinner2" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow spinner3" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              
              
             
            </div> 

        
         
            </div>

            <div class="card-footer text-body-secondary">
             
              
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Differentes formations</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <a href="{%  static 'assets/formation_initiation.pdf' %}" target="_blank">
              <img src="{% static 'assets/images/cours1.png' %}" alt="Course One"></a>
              <div class="down-content">
                <h4>Parcours d'initiation en cuisine </h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>4 mois</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <a href="{%  static 'assets/FormationCourDuSoir.pdf' %}" target="_blank">
                <img src="{% static 'assets/images/cours2.png' %}" alt="Course One"></a>
              <div class="down-content">
                <h4>Essentiel des Arts culinaires Cours du Soir</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>3 mois</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <a href="{%  static 'assets/formation_professionel.pdf' %}" target="_blank">
              <img src="{% static 'assets/images/cours3.png' %}" alt=""></a>
              <div class="down-content">
                <h4>Professionels en cuisine de pattiserie</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>6 mois</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <a href="{% static 'assets/FormationCourDuSoir.pdf'%}">
              <img src="{% static 'assets/images/cours2.png' %}" alt="Course Two"></a>
              <div class="down-content">
                <h4>Essentiel des Arts culinaires Cours du Soir</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>3 mois</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <a href="{%  static 'assets/formation_professionel.pdf' %}" target="_blank">
                <img src="{% static 'assets/images/cours3.png' %}" alt="Course One"></a>
              <div class="down-content">
                <h4>Professionels en cuisine de pattiserie</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                       <span>6 mois</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>Quelques points sur notre Centre</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage bg-secondary">
                    <div class="count-digit">94</div>
                    <div class="count-title">Reussites</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content bg-secondary">
                    <div class="count-digit">126</div>
                    <div class="count-title">Professeurs</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students bg-secondary">
                    <div class="count-digit">2345</div>
                    <div class="count-title">Nouveaux etudiants</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content bg-secondary">
                    <div class="count-digit">32</div>
                    <div class="count-title">Prix</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="{% static 'assets/images/play-icon.png' %}" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    
  </section>

  <section class="meetings-page p-1">
    <div class="footer p-1">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>
          XPERTIM GMBH 
          <br>
        
           <a   title="Build Better UI, Faster">Torhausweg 71 , 66539 Neunkirchen, Allemagne</a>
        </p>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const coursform = document.getElementById('upload_form');
      
      coursform.addEventListener('submit', async (event) => {
          event.preventDefault(); // Empêche le rechargement de la page
  
  
          const spinner_group = document.getElementById("spinner_group");
         
          // Collecte les données du formulaire
          const formData = new FormData(coursform);
         
          const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  
          // Envoie les données via fetch
          try {
            coursform.style.display = "none";
            spinner_group.style.display = "block";
  
              const response = await fetch("{% url 'upload_cours' %}", {
                  method: 'POST',
                  headers: {
                      'X-CSRFToken': csrfToken,
                  },
                  body: formData,
              });
  
              if (response.ok) {
                  const result = await response.json();
                  if (result.redirect_url) {
                    console.log("Lien: ", result.redirect_url)
                      // Redirige vers la page d'affichage du quiz
                      window.location.href = result.redirect_url;
                  } else {
                      console.error("Erreur lors de la génération du quiz.");
                  }
              } else {
                  console.error("Erreur lors de la requête : ", response.status);
                  coursform.style.display = "block";
                  spinner_group.style.display = "none";
  
              }
          } catch (error) {
              console.error("Erreur réseau ou serveur : ", error);
              coursform.style.display = "block";
              spinner_group.style.display = "none";
          }
      });
  });
  
  </script>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
  crossorigin="anonymous">
  </script>

    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>

    <script src="{% static 'assets/js/tabs.js' %}"></script>

    <script src="{% static 'assets/js/video.js' %}"></script>

    <script src="{% static 'assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>
{% endblock content %}